{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1>Bienvenu</h1>

	<br><br><br>
	<div class="lesCards">
		{% for produit in produits %}

			<div class="card" style="width: 18rem;">
				<img src="{{asset(produit.image)}}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{produit.nom}}</h5>
					<p class="card-text">Prix:
						{{produit.prix}}€
					</p>
					<a href="{{ path('app_add_panier', {'id': produit.id}) }}" class="btn btn-warning">Ajouter aux panier</a>
				</div>
			</div>
		{% endfor %}<br><br><br>
	</div>

{% endblock %}
